   #screen{
        position: relative;
        width: 700px;
        height: 400px;
        background-color: green;
        border-radius: 0.7rem;
    }

    #scan, #bezel{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        pointer-events: none;
    }

    #scan {
        opacity: 70%;
        border-radius: 0.7rem;
    }

    #bezel{
        border: 5px groove grey;
        border-radius: 0.7rem;
    }

    #content{
        font-family: VT323;
        color: rgb(159, 248, 25);
        padding: 50px;
        font-size: 20px;
        text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);
        overflow: hidden;
        overflow-y: scroll;
    }

    #textbox{
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        color: rgb(159, 248, 25);
        width: 500px;
        
    }

    #scrolling{
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
    }

    #woodCasing {
        position:  absolute;
        padding: 5px;
    }

    .woodImg{
        width: 770px;
        height: 470px;
        border-radius: 1rem;
    }

    body {
        background: #000;
    }

  #container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  }

  #title{
    font-family: VT323;
        color: rgb(159, 248, 25);
        padding: 5px;
        font-size: 30px;
        text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);
  }

  pre {
    font-size: 10px;
  }
